* {
  margin: 0;
  padding: 0;
  }

#siam1{
  display: none;
}

#menu{
  color: white;
  padding: 10px;
  float: right;
  margin-right: 30px;
  display: none;
}

.nav{
  background-color: #030A15;
  height: 40px;
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 2;
  
}
.header{
  margin-left: 10%;
  float: left;
  color: white;
  display: flex;

}
.header h3{
  margin-top: 10px;
  margin-left: 10px;
}

.nav-logo{
  border-radius: 50%;
  padding: 4px;
}
.navlist{
  display: block;
  float: right;
  margin-right: 10%;
  
}
.navlist ul{
  float: left;
  

}
.nav-social{
  display: none;
}
.navlist ul li{
  display: inline-block;
  margin: 10px;
}
.navlist ul li a{
  text-decoration: none;
  color: white;
}

.phone-header{
  display: none;
}

.nav-social{
  float: right;
  margin-right: 10%;
  width: 20%;
}

.cross-button{
  display: none;
  position: absolute;
  right: 30px;
}

.cross-button i{
  font-size: 50px;
}



/*...............home..........*/
.fau{
  height: 50px;
}

#home{
  height: 100vh;
  width: 100%;
  background: #030A15;
  position: relative;
  z-index: 1;
}

#home img{
  position: absolute;
  top: 29%;
  right: 10%;
  height: 40%;
  border-radius: 20px;
 
}


.home-container h1{
  position: absolute;
  top: 35%;
  left: 12%;
  color: white;
}
.home-container h1::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #ff4800;
  width: 10%;
  height: 100%;
  z-index: -1;
}
.home-container p{
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-weight: bold;
  font-size: 20px;
  top: 51%;
  left: 12%;
  width: 80%;
}

.home-social{
  position: absolute;
  top: 56%;
  left: 12%;
}

.home-social ul li{
  
  display: inline-block;
  margin: 20px 30px 0 0;
}

.home-social a{
  color: white;
}

.github:hover{
  color:#56294A;
}
.facebook:hover{
  color: #395693;
}
.twitter:hover{
  color: #1C9CEA;
}
.youtube:hover{
  color: #0E72A3;
}


/*...........about.........*/

#about{
  width: 100%;
  padding-top: 13px;
}

.a-container{
  margin-left: 10%;
  margin-right: 10%;
}


.a-container img{
  height: 400px;
  width: auto;
  margin-top: 20px;
  
  border: 5px solid rgba(0, 0, 0, .2);
}
.a-details{
  display: flex;
}

.a-details .text{
  margin: 15px;
 
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.a-details .text h1{
  margin-bottom: 20px;
}

.a-details .a-contract{
  margin-left: 15px;
  padding: 30px;
  line-height: 1.9;
}
.a-btn{
  
  padding: 10px;
  margin-left: 45px;
  color: white;
  background-color: #ff4800;
  border: 1px solid #ff4800;
  border-radius: 3px;
  transition: .5s;
  margin-bottom: 100px;
}

.a-btn:hover{
  background-color: #a83000;
  border: 1px solid #a83000;

}

/*........work..........*/

#work{
  width: 100%;
  background: #000;
  position: relative;
  padding-bottom: 50px;
  z-index: 1;
}

.w-contain{
  margin-left: 10%;
  margin-right: 10%;

  
}

.w-contain .card{
  position: relative;
  background: #111;
  margin: 20px;
  height: 150px;
  width: 200px;
  padding: 50px;
  transition: .5s;
  border-radius: 10px;
  left: 15%;
  right: 15%;
  transform: translateX(-50%);
}

.w-contain .card i{
  color: #ff4800;
  font-size: 50px;
  
}
.w-contain .card h1{
  color: white;
}

.w-contain .card .bar{
  
  background: #ff4800;
  margin-top: 20px;
  width: 80%;
  height: 2px;
  z-index: -1;
}
.w-contain .card img{
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
}

.w-contain .card:hover{
  background: rgba(255, 255, 255, .1);
  color: white;
}


/*projects*/

.ps-contain{
  background-color: white;
  margin-bottom: 70px;
  margin-left: 10%;
 margin-right: 10%;
  
}

.gs-container{
  display: grid;
  grid-template-columns: auto auto;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}


.l-card{
  background-color: rgba(0, 0, 0, .9);
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  
  height: 250px;
  color: white;
  text-align: start;
}
.l-details{
  width: 300px;
  padding-top: 20px;
}
.l-details h2{
  padding-bottom: 20px;
}

.l-card:hover{
  background-color: rgba(0, 0, 0, 1);
}

.l-card img{
  border-radius: 10px;
}

/*............................................*/




/*........education..........*/

#education{
  width: 100%;
  text-align: center;
  
  position: relative;
  margin-bottom: 50px;

  z-index: 1;
}

.edu-contain{
  margin-left: 13%;
  margin-right: 13%;
}

.e-contain{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}



.e-card{
  
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, .1);
 
  margin: 20px;
  text-align: start;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, .2),
  5px 5px 5px rgba(0, 0, 0, .1),
  inset -5px -5px 5px rgba(255, 255, 255, .2),
  inset 5px 5px 5px rgba(0, 0, 0, .1)
}
.l-details{
  width: 300px;
  padding-top: 20px;
}
.l-details h2{
  padding-bottom: 20px;
}

.e-card:hover{
  background-color: rgba(0, 0, 0, .2);
}

.l-card img{
  border-radius: 10px;
}

/*.........Teammates...........*/

#teammate{
  background: #111;
  padding: 50px;
}

.dot{

  position: absolute;
  top: 32%;
  left: 50%;
  
  height: 10px;
  width: 10px;
  background: #ff4800;
  border: 2px solid white;
  border-radius: 50%;
}

/*......Contract.......*/

#contract{
  width: 100%;
  background: #111;
  text-align: center;
  
}
#contract .c-contain{
  margin-left: 10%;
  margin-right: 10%;
  padding: 5%;
}

.c-de{
  display: flex;
  margin-top: 20px;
  text-align: center;
}

.c-img{
  text-align: center;
  margin-right: 10%;
  margin-top: 5%;
  position: relative;
}

.c-img img{
  width: 400px;
  
}

.c-input{
  background: #000;
  border: none;
  height: 55px;
  margin: 10px;
  padding-left: 15px;
  color: white;
}

.c-textarea{
  background: #000;
  border: none;
  height: 75px;
  margin: 10px;
  padding: 15px;
  color: white;
  font-weight: bold;
}

.c-btn{
  
  padding: 10px;
  margin-left: 11px;
  color: white;
  background-color: #ff4800;
  border: 1px solid #ff4800;
  border-radius: 3px;
  transition: .5s;
  margin-bottom: 100px;
}

.in{
  display: flex;
}



/*...........footer.......*/

#footer{
  
    width: 100%;
    height:200px;
    text-align: center;
    background: #000;
}


.footer-social ul{
  padding-top: 20px;
}
.footer-social li{
  display: inline-block;
  margin: 20px;
}
.footer-social li a{
  color: white;
  font-size: 50px;
}

/*..........ProjectAll .........*/


.banner{
  background-image: url('https://i.pinimg.com/originals/91/8c/7a/918c7aaa25d27d43917561eb7e767256.jpg');
  background-size: cover;
  height: 400px;
  background-position: center;
  width: 100%;
  position: fixed;
}

.banner::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  display: block;
  background: #030A15;
  opacity: .7;
  z-index: -1;
}
.banner h1{
  padding: 11%;
  font-size: 80px;
  background: rgba(255, 255, 255, .1);
}

.p-contain{
  position: relative;
  top: 400px;
  background-color: white;
  margin-bottom: 50px;
  
}

.g-container{
  display: grid;
  grid-template-columns: auto auto auto;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}


.l-card{
  background-color: rgba(0, 0, 0, .9);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  
  height: 250px;
  color: white;
  text-align: start;
}
.l-details{
  width: 300px;
  padding-top: 20px;
}
.l-details h2{
  padding-bottom: 20px;
}

.l-card:hover{
  background-color: rgba(0, 0, 0, 1);
}

.l-card img{
  border-radius: 10px;
}

@media only screen and (max-width: 865px) {
 
  .e-contain{
    grid-template-columns: auto;
  }

  .p-contain{
    left: 50%;
    transform: translateX(-50%);
  }
  .g-container{
    grid-template-columns: auto;
  }

  .l-card{
    width: 300px;
  }
  #siam1:checked ~ .nav .navlist{
    left: 20%;    
  
  }
  #siam1:checked ~ h1{
    left: 20%;    
  
  }
  
  .home-social{
    top: 54%
  }

  .home-container p{
    top: 50%;
  }

  #home img{
    right: 0;
    height: 96%;
    opacity: 70%;
  }
  .a-details{
    display: inline-block;
  }
  
  .a-container img{
    height: 280px;
    width: auto;
    
  }
  .w-contain{
    margin-left: 30%; 
  }
 
  .c-img img{
    width: 400px;
    margin-top: 20px;
  }

  #home img{
    opacity: 10%;
    height: 400px;
   
  }


}



@media only screen and (max-width: 625px) {

  .a-container{
    margin-left: 1%;
    margin-right: 0;
  }

  .c-inpu{
    width: 110%;
    padding: 0;
  }

  #home img{
    display: none;
  }

  .l-details{
    width: 100%;
  }

  .l-card{
    width: 200px;
    height: 300px;
  }
  
  #home img{
    opacity: 50%;
  }
  .menu-button h1{
    position: absolute;
    left: 0;
    
  
  }
  .home-social{
    top: 59%
  }

  .home-container p{
    top: 50%;
  }
 
  .w-contain{
    margin: 0;
    margin-left: 22%;
  }

  .p-card{
    left: 50%;
  }

  .c-textarea{
    width: 74%;
  }

  .c-input{
    width: 80%;
  }
  .c-img img{
    width: 230px;
    margin-top: 20px;
  }

  .dot{
    margin-top: 25%;
  }

}
@media only screen and (max-width: 1024px) {

  .gs-container{
    grid-template-columns: auto;
  }

  .g-container{
    grid-template-columns: auto;
  
  }

  .a-details{
    display: inline-block;
  }
  .p-card{
    left: 45%;
  }
  .c-de{
    display: inline;
  }
  #menu{
    display: block;
  }
  .cross-button{
    display: block;
  }

  .nav-social{
    display: flex;
  }

  
  .navlist{
    z-index: 2;
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(7, 11, 32, 1);
    transition: all .5s;
    
  }
 
  .navlist ul{
    float: left;
    margin: 20px;
    line-height: 40px;
    position: relative;
    
  }
  .navlist ul li{
    display: block;
  }
  

  .active{
    left: 0;
  }

  .unactive{
    left: -100%;
  }
 
  .phone-header{
    display: block;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
  }
  .phone-header h2{
    color: rgba(255, 255, 255, 0.9);
  }
  .phone-header h4{
    margin-top: 10px;
    color: rgba(255, 255, 255, .5);
  }
  .phone-header img{
    margin: 0;
    padding: 0;
  }
  .cross-button{
    color: rgba(255, 255, 255, .7);
    float: right;
    margin-top: 5%;
    margin-right: 3%;
  }
  .nav-social{
    float: left;
    position: relative;
    width: 100%;
    top: 40px
    
  }
  .nav-social ul li{
    display: inline-block;
    
  }
  .dot{
    top: 50%;
    margin-top: 11%;
  }


  #home img{
    top: 30%;
    opacity: 10%;
    right: 5%;
    height: 500px;
   
  }
  

}

@media only screen and (max-width: 1200px) {
  
  .g-container{
    grid-template-columns: auto;
  }
  .gg{
    width: 100%;
    margin-left: 50px;
  }
  .dot{
    top: 21%;
  }
  
  .e-contain .e-card{
    left: 48%;
  }

  .w-contain .card{
    left: 27%;
  }

  .c-textarea{
    width: 74%;
  }

  .c-input{
    width: 80%;
  }
  .in{
    display: block;
  }
  
}